
a {
    text-decoration: none;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  
  .main {
    margin: auto;
  }
  
  .footer {
    background-color: #f6f6f6;
    height: 200px;
    display: flex;
  }
  
  .footer div {
    margin: auto;
  }
  
  
  /* ヘッダー */
  
  
  .header {
    background-color: white;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .header__inner {
    height: inherit;
    padding: 0 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: inherit;
    position: relative;
  }
  
  
  /* ヘッダーのロゴ部分 */
  .header__title {
    width: 150px;
    font-size: 70%;
  }  
  @media screen and (min-width: 960px) {
    .header__title {
      width: 200px;
      font-size: 100%;
    }
  }

  .header__title > a {
    font-size: 20px;
    height: inherit;
    color: black;
    text-decoration: none;
  }
  .header__title > a:link, a:visited {
    height: inherit;
    color: black;
  }
  @media screen and(min-width: 960px) {
    .header__title > a {
        font-size: 35px;
        height: inherit;
        color: black;
    }
  }

  
  /* .header__title img {
    display: block;
    width: 100%;
    height: 100%;
  } */
  
  /* ヘッダーのナビ部分 */
  
  .header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #fff;
    transition: ease .4s;
  }
  
  
  @media screen and (min-width: 960px) {
    .header__nav {
      position: static;
      transform: initial;
      background-color: inherit;
      height: inherit;
      display: flex;
      width: 100%;
    }
  }
  
  
  @media screen and (min-width: 960px) {
    .nav__items {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      height: initial;
      justify-content: space-between;
    }
  }
  
  .nav-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }
  
  
  
  @media screen and (min-width: 960px) {
    .nav-items {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(0, 0);
  
    }
  }
  
  /* ナビのリンク */
  .nav-items__item a {
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 18px;
    margin-bottom: 24px;
    color: black;
  }
  
  .nav-items__item:last-child a {
    margin-bottom: 0;
  }
  
  @media screen and (min-width: 960px) {
    .nav-items__item a {
      margin-bottom: 0;
    }
  }
  
  
  /* ハンバーガーメニュー */
  
  .header__hamburger {
    width: 48px;
    height: 100%;
  
  }
  
  .hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
    position: absolute;
    right: 5%;
  }
  
  @media screen and (min-width: 960px) {
    .hamburger {
      display: none;
    }
  }
  
  /* ハンバーガーメニューの線 */
  .hamburger span {
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    transition: ease .4s;
    display: block;
  }
  
  .hamburger span:nth-child(1) {
    top: 0;
  }
  
  .hamburger span:nth-child(2) {
    margin: 8px 0;
  }
  
  .hamburger span:nth-child(3) {
    top: 0;
  }
  
  
  /* ハンバーガーメニュークリック後のスタイル */
  .header__nav.active {
    transform: translateX(0);
  }
  
  .hamburger.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  
  }
  
  .hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
  }
  


/* 画面がスライドする要素をmain要素に移動させたため、main要素の位置を全体的に下へ移動させた。 */
.main {
    position: relative;
    top: 70px;
    padding-top: 0px;
}

.wrapper h1 {
    text-align: center;
}

.slider {
    /* slickでul要素の位置を指定されているが、別途CSSで位置を指定するとこのスタイルが上書きされる。
    これを指定する前は、左側に余白が大きくできてコンテンツが右寄りになっていたが、padding 0にすることでul要素を中央配置にできる。 */
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 0;
}

.mypic {
        width: 375px;
        height: 40%;
        margin: 0 auto;
    }
@media screen and (min-width: 960px) {
    .mypic {
    width: 960px;
    height: 70%;
    margin: 0 auto;
    }
}

/* .container {
    display: flex;
    justify-content: center;
} */

.container p {
    display: block;
    text-align: center;
    padding-top: 15px;
}

.slider-item {
    /* トップ画像を格納しているli要素。slider-itemの高さを変えれば画像の幅と高さに合わせてリサイズできる */
    width: 375px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
@media screen and (min-width: 960px) {
    .slider-item {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
    }
}

.slick-prev,
.slick-next {
    /* <>のスタイル設定 */
    position: absolute;
    z-index: 3;
    top: 45%;
    outline: none;
    /* border-topのpxをいじると<の部分の下の線が太くなる。>の場合は上の線が太くなる。border-rightは反対側の線の太さが変わる */
    border-top: 2px solid #CCC;
    border-right: 2px solid #CCC;
    height: 10px;
    width: 10px;
}
@media screen and (min-width: 960px) {
    .slick-prev,
    .slick-next {
        position: absolute;
        z-index: 3;
        top: 42%;
        outline: none;
        border-top: 2px solid #CCC;
        border-right: 2px solid #CCC;
        height: 25px;
        width: 25px;
    }
}

.slick-prev {
    /*面左側の矢印の位置*/
    left: 2.5%; 
    /*面左側の矢印の形状。＜となるように転換させている*/
    transform: rotate(-135deg);
}

.slick-next {
    /*面右側の矢印の位置*/
    right: 2.5%;
    /*画面右側の矢印の形状。＞となるように転換させている*/
    transform: rotate(45deg);
}

.slick-dots {
    /*おそらくこれはslick-dots liの親要素(ul要素)に該当する。*/
    position: relative;
    z-index: 3;
    text-align: center;
    /* ドットの位置が画像にかぶっていたため、margin-topの設定をなくした ドットが全部入っているli要素の親要素ul要素の位置を変更した。*/
    /* 下記のpadding: 0;を指定するとslick-dotsのul要素が真ん中配置になって、中に入っているドットも中央になる 。margin: 0;を指定しても中央配置にはならない*/
    padding-top: 10px;
}


.slick-dots li {
    /*このセレクタはドット一つ一つ。スライドする画面の下部にあるドットの位置ドットの一つ一つはli要素になっていて、それを囲んでいるのはul要素*/
    display: inline-block;
    /* 下記のmarginは、ボタン一つ一つの間隔に対するスタイルmargin: 0 20px;としたら左右の間隔が広くなった。 */
    margin: 0 5px;
    /*スマホ画面の時ドットを非表示にする */
    display: none;
}
@media screen and (min-width: 960px) {
    .slick-dots li {
        /*スライドする画面の下部にあるドットの位置ドットの一つ一つはli要素になっていて、それを囲んでいるのはul要素*/
        display: inline-block;
        margin: 0 5px;
    }
}

.slick-dots button {
    /*スライド画面下部の一つ一つのドットのスタイル。*/
    /*下記のcolorは透明にしないと数字の123がでてきてしまう。*/
    color: transparent;
    outline: none;
    width: 5px;
    height: 5px;
    display: block;
    border-radius: 50%;
    background: white;
    border: solid 1px black;
    /* ここにpaddingを指定するとドット全体が横伸びするように大きくなる。（膨張するイメージ） */
    padding: 0;
}

.slick-dots .slick-active button {
    background: #333;
}

.back-btn {
    padding: 15px 10px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 50%;
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 999;
}

.mainimg {
    display: block;
    height: 70%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and(min-width: 960px) {
    .mainimg {
        display: block;
        height: 100%;
        width: 100%;

        margin-left: auto;
        margin-right: auto;
    }
}